bin/
obj/
TestResults/
.vs/
.vscode/
.cr/
.idea/
*.suo
*.swp
*.user
_ReSharper.*
*.DS_Store
*.userprefs
*.pidb
*.vspx
*.psess
*.binlog
*.log
StyleCop.Cache
node_modules/
packages/
*.snk
.nuget
.r
.w
.deps
.env
.dotnet/
.tools/


